# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

#dist folder
wwwroot/dist/

#Webstorm metadata
.idea

# Mac files
.DS_Store
.vs/GaaClub/v16/TestStore/0/000-0000.testlog
