@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
    ViewData["WelcomeMessage"] = Localizer["WelcomeMessage"];
}

@section Scripts{
    <script type="module" src="~/dist/index.entry.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">@ViewData["WelcomeMessage"]</h1>
</div>
