@page

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model LogoutModel

@{
    ViewData["Title"] = Localizer["LogOut"];
}

<header>
    <h1>@Localizer["LogOut"]</h1>
    <p>@Localizer["LogOutMessage"]</p>
</header>